<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         failOnWarning="true"
         failOnRisky="true"
         displayDetailsOnTestsThatTriggerWarnings="true">
    <php>
        <!-- Con los argumentos completos en las trazas, para que ConexionFallidaTest vea la clave si se filtrara. -->
        <ini name="zend.exception_ignore_args" value="0"/>
        <ini name="zend.exception_string_param_max_len" value="1000"/>
    </php>
    <testsuites>
        <testsuite name="nucleo">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
